target
bin
server/target
server/bin
.settings
.classpath
.project
.idea
*.iml
.DS_Store
.vscode
.factorypath
eclipse-formatter.xml
client/package-lock.json
client/node_modules
client/yarn.lock
client/build
client/src/Json/
server/src/main/webapp
!server/src/main/webapp/WEB-INF
