.user-profile {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  &__row {
    min-height: 10rem;
    align-items: flex-start;
  }

  img {
    display: block;
    margin: auto;
    margin-top: 1rem;
    max-width: 100%;
    width: 150px;
    height: auto;
    border-radius: 50%;
  }

  &__bio {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
  }

  &__wrapper {
    align-items: center;
  }

  &__name {
    margin-right: 2rem;
    font-weight: 700;
    font-size: 1.7rem;
  }

  &__bioText {
    width: 90%;
  }
}
